{% extends 'base.html'%}

{% block table_block %}
{%if object_list %}
<table>
<col width="1"></col>
<col></col>
<thead>
  <th>Phone id</th>
    <th>Latitude</th>
     <th>Longitude</th>
</thead>
<tbody>

  {% for gps in object_list %}
  <tr class="{% cycle odd,even %}">
    <td class="vote">
     
    <p> {{gps.device_name}}</p>
      
      </td>
    <td class="item">
      <p> {{gps.lat}}</p>
      
    </td>
    <td class="item">
      <p> {{gps.longt}}</p>
      
    </td>
  </tr>{% endfor %}
</tbody>
</table>
{% if is_paginated %}
<div class="pagination">
  <span class="step-links">
    {% if page_obj.has_previous %}
    <a href= "?page={{ page_obj.previous_page_number }}">newer entries &lt;&lt; </a>
    {% endif %}
    <span class="current">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    </span>  
    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}"> &gt;&gt; older entries</a>
    {% endif %}
  </span>
</div>   
{% endif %}
{% else %}
<h1>No recent user locations</h1>
{% endif %}

{% endblock%}
